body {
    background-color: black;
}

@font-face {
    font-family: DS-Digital;
    src: url(/workspace/Simple-Counter-by-Luis/src/js/component/DS-DIGII.TTF);
}

.bigCounter{
    text-align: center;
    font-family: DS-Digital;
    margin-left: 360px;
    margin-top: 500px;
    
}


.bigCounter div{
    display: inline-block;
    
    line-height: 10px;
    color:black;
    
}

.sec {
    font-size: 100px;
}

.minute {
    font-size: 150px;
}
.hours {
    font-size: 150px;
}
.e-hours {
    font-size: 150px;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/